:root {
    --input-border: #ccc;
    --grey: #72736e;
    --white: #fff;
    --bg-header: #f6f6f6;
    --bg-main: #d7d7d7;
    --h-color: #118f8f;
    --bg-tab: #404040;
    --error-bg: #f6f6f6;
    --width: 810px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-main);
}

header {
    background-color: var(--bg-header);
}

h1,
h2 {
    color: var(--h-color);
}

section {
    margin: 20px auto;
    background-color: var(--white);
    max-width: var(--width);
}

.container {
    margin: auto;
    max-width: var(--width);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.sa {
    justify-content: space-around;
}

.input-container {
    width: fit-content;
    position: relative;
}

.input-field {
    padding: 8px 12px;
    position: relative;
    width: 250px;
    box-sizing: border-box;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    background-color: var(--white);
}

.icon {
    position: absolute;
    color: var(--input-border);
    right: 8px;
    top: 8px;
}

.menu {
    background-color: var(--bg-tab);
}

.menu_list {
    display: flex;
}

.menu_list_item {
    color: var(--white);
    list-style-type: none;
    width: max-content;
    padding: 15px 40px;
    cursor: pointer;
    transition: all 0.5s;
}

.active,
.menu_list_item:hover {
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    border-bottom: 4px solid var(--h-color);
}

.weather_sys {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.weather_sys ul {
    list-style-type: none;
}

.weather_sys ul li {
    margin-top: 10px;
}

.weather_sys ul li:nth-child(1) {
    margin-top: 0;
}

.weather_temerature_real {
    font-size: 38px;
    color: var(--bg-tab);
}

.current_weather_section {
    color: var(--grey);
}

.weather_main_label {
    text-align: center;
}

.tab_content_box {
    display: none;
}

.error {
    text-align: center;
    background-color: var(--error-bg);
}

.error h2 {
    padding: 30px 0px;
}

table,
th,
td {
    border: 1px solid black;
}

#days {
    display: flex;
    gap: 2px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}

.days_block {
    background-color: #ededed;
    padding: 20px;
    width: 120px;
    transition: 0.3s;
}

.days_block:hover {
    cursor: pointer;
    background-color: #f6f6f6;
}

.active_day {
    background-color: #f6f6f6;
}

.days_block_weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days_block_weather img {
    width: 60px;
    height: auto;
    margin: 20px 0px;
}

table {
    margin: auto;
    padding-bottom: 20px;
    border: none;
}

td {
    padding: 10px 15px;
    border: none;
    margin: 0;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

tr.underline {
    position: relative;
}

tr.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #85888e;
    z-index: 1;
}

.hourly_section {
    background-color: var(--white);
    margin-top: 20px;
    max-width: var(--width);
    margin: 20px auto;
    display: none;
}

tr:nth-child(1) td:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
}

tr td:nth-child(1) {
    color: var(--grey);
}

#nearby {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}

.nearby_block {
    background-color: rgb(214, 214, 214);
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nearby_block:hover {
    cursor: pointer;
}

.nearby_block_weather {
    display: flex;
    align-items: center;
    gap: 20px;
}